@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    width: 100vw; /* Ensure it doesn't exceed the viewport width */
}
